doctype html
html(lang="ru-RU")
  include ./common/head.pug
  body
    .wrapper
      .main-content
        h1 Error
        p= status
        p= error

    include ./common/footer.pug  
        
         