doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    ul
      li
        a(href='/').link Главная
      li
        a(href='/blog').link Блог
      li
        a(href='/admin').link Админка
      li
        a(href='/login').link Авторизация
    block content
