- 
  var menuItem = [
    {
      title: 'Main',
      url: '/'
    },
    {
      title: 'About',
      url: '/about'
    },
    {
      title: 'Contact',
      url: '/contact'
    }
  ]